@font-face {
	font-family: "blabla";
	src: url(blabla.ttf);
}

h1 {
	font-family: "blabla";
	letter-spacing: 1px;
}

/**********NavBar**************/
header {
	position:relative;
}
nav .img-fluid{
	max-width: 60px;
}
nav {
	/*font-size:1.2em;*/
}

nav ul.navbar-nav{
	width:80%;
}

nav .nav-link{
	/*padding: 1rem 50rem;*/
}
/**********Appel**************/
.fullscreen {
	background-size: cover;
	background-position: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}


#appel {
	background-image: url(image/foret1.jpg);
}

/**********Possible**************/

#possible {
	background-image: url(image/cerf_tete2.png);
	background-color: #E6E6E6;
	box-shadow: inset 0px 10px 30px rgba(0, 0, 0, 0.1);

}

/**********Pourquoi**************/

#pourquoi {
	height: 300px;
	padding-left :50px;
	padding-right: 50px;
	background-color: #E6E6E6;
	box-shadow: inset 0px 10px 30px rgba(0, 0, 0, 0.1);
}

/********** interaction *********/
#interaction {
	background-image: url(image/fonctionnement.jpg);
	
}

#interaction div, #gnous div {
	opacity: 0;
}

.img-fullscreen {	
	max-height: 100vh;

}

/**********Fonctionnement**************/

#fonctionnement ul{
	list-style: ;
	font-size: calc(14px + 10 * (100vw - 400px) / 1200);
	color: black;
	display: inline-block;
}
#fonctionnement h2 {
	font-size: calc(18px + 25 * (100vw - 400px) / 1200);
	color: black;
	text-align: center;
}
#fonctionnement h3 {
	font-size: calc(18px + 25 * (100vw - 400px) / 1200);
	color: black;
}
#fonctionnement p {
	color: black;
	text-align: center;
}
#fonctionnement {
	background-image: radial-gradient( farthest-corner ellipse at center, white, #E5E3E2);
	background-repeat: no-repeat;
}
#fonctionnement .fonction{
	background-color: #11ffee00;
	border: 0;
}
.caracteristiques {
	text-align: left;
}
/**********Gnous**************/


/**********Formulaire**************/
#formulaire{

}
.containerForm .col-12 h1{
	text-align: center;
}
span{
	font-weight: bold;
}
.row{

}
.col{

}
.form-control{

}
.btn-primary {

}
/**********Footer**************/


/**********General*************/
p{
	font-size: calc(14px + 10 * (100vw - 400px) / 1200);
}
h1{
	font-size: calc(18px + 30 * (100vw - 400px) / 1200);

}
/**************** MEDIA ********************/

@media (max-width: 576px) and (orientation: portrait) {

	#gnous , #interaction {
		background:none;
		height:auto;
	}
	#gnous div , #interaction div{
		opacity: 1;
	}
}